{% extends "base.html" %}
{% block title %}Последние обновления от избранных авторов{% endblock %}
{% block header %}Последние обновления от избранных авторов{% endblock %}
{% block content %}

  <div class="container">
    <!-- Вывод ленты записей -->
    {% include "includes/menu.html" with index=True %}
    {% for post in page %}
      <!-- Вот он, новый include! -->
      {% include "includes/post_item.html" with post=post %}
    {% endfor %}
  </div>

  <!-- Вывод паджинатора -->
  {% include "paginator.html" with items=page paginator=paginator%}

{% endblock %}